@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&display=swap');

:root {
    --body-color: #244;
    --dark-color: #022;
    --light-color: #153737;
    --text-color: #add;
    --link-base: #58f;
    --link-hover: #9cf;
}

textarea, .line {
    font-family: Inconsolata, Consolas, monospace;
}
body {
    font-family: Barlow, Arial, sans-serif;
}
h1 {
    margin: 5px;
    font-size: 36px;
    /* text-align: center; */
    text-align: left;
}
h2 {
    margin: 0;
}
h1 img {
    padding-right: 10px;
}
body {
    margin: 0;
    background-color: var(--body-color);
    color: var(--text-color);
}
header {
    background-color: var(--dark-color);
    color: #cff;
    padding: 5px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 35px var(--body-color);
    display: flex;
    align-items: center;
    gap: 15px;
}
button {
    color: var(--text-color);
    background-color: var(--light-color);
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
button:hover {
    background-color: var(--body-color);
}
article {
    padding: 10px;
}
textarea {
    padding: 10px;
    margin: 3px 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--light-color);
    color: var(--text-color);
    /* border: 1px solid #ccc; */
    border: 2px solid;
    resize: none;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}
textarea[readonly] {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}
.line {
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.line .label {
    width: 100px;
    text-align: right;
}
.line textarea {
    flex-grow: 1;
}

nav {
    /* text-align: center; */
    text-align: left;
}

a, a:visited {
    color: var(--link-base);
}
a:hover {
    color: var(--link-hover);
}

textarea.semistatic {
    width: 100%;
    font-size: 18px;
}